.idea
.rebar
deps
ebin
erl_crash.dump

rel/files
rel/traffic_project
rel/reltool.sample.config


apps/*/.rebar
apps/*/.erlang.mk
apps/*/.deps
apps/*/_rel
apps/*/ebin
apps/*/logs

.DS_Store

.traffic.plt
*.beam
